#textdomain wesnoth-LoS

[scenario]
    id=los_s1
    name= _ "The Rolling Stones"
    map_data="{~add-ons/Lifetime_of_Stones/maps/los_m1.map}"
    {TURNS4 40 37 33 30}
    next_scenario=los_s2
    victory_when_enemies_defeated=no
    carryover_percentage=0
    carryover_add=no

    {UNDERGROUND}

    {SCENARIO_MUSIC underground.ogg}
    {EXTRA_SCENARIO_MUSIC revelation.ogg}

    [story]
        [part]
            {GRUMP_STORY_START "You should know what father said to Grump today! It turns out that the Heat Caves are not the native of our Rolling Stones tribe. Grandfather brought the trolls here from the hills. And before the hills, the trolls lived in the mountains. And before the mountains, the trolls lived in caves. And before caves, the trolls lived in Durn-Turum. This is troll's true native land."}
        [/part]
        [part]
            {GRUMP_STORY_START "It was good in Durn-Turum until the ugly dwarves arrived. They awakened a terrible monster, the False Stone, which spewed fire and ate big trolls alive."}
        [/part]
        [part]
            {GRUMP_STORY_START "The cunning elves offered the trolls help, but in fact sent them to death, straight into the maw of the False Stone. Then the Great Stone (Grump forgot who it was) sacrificed himself so that the trolls escaped. The Great Stone saved Grump's great-great-grandfather."}
        [/part]
        [part]
            {GRUMP_STORY_START "Great-great-grandfather founded the Rolling Stones tribe. To escape ugly dwarves and cunning elves, the Rolling Stones never stay in one place for long. Each new leader must lead the trolls to a new habitat. That is how Grump's ancestors led the tribe from distant Durn-Turum to the Heat Caves."}
        [/part]
        [part]
            {GRUMP_STORY_START "Father says it is time for the Rolling Stones to roll again."}
        [/part]
    [/story]

    [time_area]
        {UNDERGROUND}
        current_time=0
        id=chuchelka
        x="4,4,5,5,6,6,6,7,7,7,8,8,8,8,9,9,9,9,9,10,10,10,10,11,11,11,11,12,12,12,13,13,13,14,14,14,15,15,15,16,16,16,17,17,17,18,18,19,20,21,22,23,24,25,26"
        y="13-15,17-18,13-16,18-20,13-15,17-20,22,9,14,18-22,6-9,11-14,19,21-22,6-9,12,14,19,22-23,6-8,11-14,18-19,21-22,7-10,13-14,19,22-25,8-9,13-14,18-24,8-10,13-15,21-25,8-10,12-17,22-23,8-10,15-19,22-23,8-9,15-17,22,8-10,12-14,16,8-10,12-14,10-16,10-16,13-15,15,15,15,15,15"
    [/time_area]
    [time_area]
        {DEFAULT_SCHEDULE}
        current_time=0
        id="time"
        x="0,1,2,3,4,5,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,20,21,22,23,24,25,26,5"
        y="0-6,0-7,0-6,0-7,0-6,0-2,4-5,0-4,1-5,0-4,0-5,0-4,1-5,0-5,0-5,0-6,0-6,0-6,1-6,0-5,1-7,0-5,7,1-8,0-8,0-10,0-11,1-11,0-11,3"
    [/time_area]

    [item]
        image="scenery/rubble.png"
        visible_in_fog=yes
        x=18
        y=23
    [/item]
    [item]
        image="scenery/rubble.png"
        visible_in_fog=yes
        x=5
        y=18
    [/item]
    [item]
        image="scenery/rubble.png"
        visible_in_fog=yes
        x=16
        y=15
    [/item]

    [side]
        side=1
        controller=human
        gold=0
        income=0
        fog=no
        shroud=yes
        share_vision=all
        {GRUMP_STATS_START}
        color=lightred
        team_name=trolls
        user_team_name= _ "Rolling Stones"
        {FLAG_VARIANT ragged}
    [/side]
    [side]
        side=2
        controller=ai
        gold=0
        income=0
        fog=no
        shroud=yes
        share_vision=all
        no_leader=yes
        color=darkred
        team_name=trolls
        user_team_name= _ "Rolling Stones"
        {FLAG_VARIANT ragged}

        [unit]
            id=Father
            type=Great Troll
            name=_ "Zuug"
            profile=portraits/trolls/troll-hero-alt.png
            x,y=20,23
            canrecruit=yes
           
            [modifications]
                {TRAIT_AGED}
                {TRAIT_RESILIENT}
            [/modifications]
        [/unit]
    [/side]
    [side]
        side=3
        controller=ai
        no_leader=yes
        team_name=monsters
        user_team_name= _ "Monsters"
        hidden=yes
        color=black
        {FLAG_VARIANT ragged}

        [ai]
            aggression=1
        [/ai]
    [/side]

    {STARTING_VILLAGES 2 3}

    [event]
    name=prestart

        [set_variable]
            name=grump_portrait
            value="portraits/trolls/whelp.png"
        [/set_variable]

        {SCATTER_UNITS {ON_DIFFICULTY4 10 13 16 17} {ON_DIFFICULTY4 "Giant Rat,Giant Ant" "Giant Rat,Giant Ant,Fire Ant" "Giant Rat,Giant Ant,Fire Ant,Giant Scorpling" "Giant Rat,Giant Ant,Fire Ant,Giant Scorpion"} 1 (
            area=chuchelka
            [and]
                [not]
                    [filter]
                    [/filter]
                [/not]
                [not]
                    [filter_adjacent_location]
                        [filter]
                        [/filter]
                    [/filter_adjacent_location]
                [/not]
            [/and]
        ) (
            side=3
            passable=yes
        )}

        [micro_ai]
            side=3
            ai_type=big_animals
            action=add

            [filter]
                race=monster
            [/filter]
            [filter_location]
                area=chuchelka
            [/filter_location]
        [/micro_ai]
    [/event]
    [event]
    name=start

        [animate_unit]
            flag=recruited
            [filter]
                id=Son
            [/filter]
        [/animate_unit]

        {REPEAT 5 (
        [unit]
            type=Troll Whelp
            side=1
            x,y=20,23
            animate=yes
            random_traits=yes
        [/unit]
        [modify_unit]
            [filter]
                side=1
                canrecruit=no
                [not]
                    role=has_loyal
                [/not]
            [/filter]
            role=has_loyal
            {TRAIT_LOYAL}
        [/modify_unit])}

        [message]
            speaker=Father
            message=_ "It's time, little ones. The stones say the trolls must find a new home. The stones will show the way. Zuug will lead you."
        [/message]

        {MOVE_UNIT id=Father 18 23}

        [animate_unit]
                flag=attack
                [filter]
                    id=Father
                [/filter]
                [facing]
                    x,y=17,23
                [/facing]
                [primary_attack]
                    range=melee
                [/primary_attack]
                hits=yes
        [/animate_unit]

        {MODIFY_TERRAIN Uue 17 23}

        [sound]
            name=cave-in.ogg
        [/sound]
        [redraw][/redraw]

        [message]
            speaker=Father
            message=_ "As Zuug's son, Grump must be first among the cubs. Be brave and stand up for your kin."
        [/message]
        [message]
            speaker=Son
            message=_ "Yes, father."
        [/message]

        [micro_ai]
            side=2
            ai_type=goto
            action=add
            ca_id=path1

            [filter]
                id=Father
            [/filter]
            [filter_location]
                x,y=5,18
            [/filter_location]
            [avoid_unit]
                id=Father
            [/avoid_unit]
            ca_score=600000
            ignore_enemy_at_goal=yes
        [/micro_ai]

        [objectives]
            side=1
            [objective]
                description= _ "Follow Zuug to the exit of the cave"
                condition=win
            [/objective]
            [objective]
                caption= _ "Bonus Objective:"
                description= _ "Level up Grump"
                condition=win
                [show_if]
                    [have_unit]
                        id=Son
                        type=Troll Whelp
                    [/have_unit]
                [/show_if]
            [/objective]
            [objective]
                description= _ "Death of Zuug"
                condition=lose
            [/objective]
            [objective]
                description= _ "Death of Grump"
                condition=lose
            [/objective]
            {TURNS_RUN_OUT}
            [note]
                description= _ "Zuug can break some cave walls with his hammer. Allow him to stand on a hex with a rubble to break the deadlock."
            [/note]
        [/objectives]
    [/event]
    [event]
    name=moveto
    first_time_only=yes

        [filter]
            id=Father
            [filter_location]
                x,y=5,18
            [/filter_location]
        [/filter]

        [animate_unit]
                flag=attack
                [filter]
                    id=Father
                [/filter]
                [facing]
                    x,y=5,17
                [/facing]
                [primary_attack]
                    range=melee
                [/primary_attack]
                hits=yes
        [/animate_unit]

        {MODIFY_TERRAIN Uue 5 17}

        [sound]
            name=cave-in.ogg
        [/sound]
        [redraw][/redraw]

        [message]
            speaker=Father
            message=_ "The stones say the trolls should head east."
        [/message]

        [micro_ai]
            side=2
            ai_type=goto
            ca_id=path1
            action=delete
        [/micro_ai]

        [micro_ai]
            side=2
            ai_type=goto
            action=add
            ca_id=path2

            [filter]
                id=Father
            [/filter]
            [filter_location]
                x,y=16,15
            [/filter_location]
            ca_score=600000
            ignore_enemy_at_goal=yes
        [/micro_ai]
    [/event]
    [event]
    name=moveto
    first_time_only=yes

        [filter]
            id=Father
            [filter_location]
                x,y=16,15
            [/filter_location]
        [/filter]

        [animate_unit]
                flag=attack
                [filter]
                    id=Father
                [/filter]
                [facing]
                    x,y=17,15
                [/facing]
                [primary_attack]
                    range=melee
                [/primary_attack]
                hits=yes
        [/animate_unit]

        {MODIFY_TERRAIN Uue 17 15}

        [sound]
            name=cave-in.ogg
        [/sound]
        [redraw][/redraw]

        [message]
            speaker=Father
            message=_ "The stones say the exit is near. The trolls should head north."
        [/message]

        [micro_ai]
            side=2
            ai_type=goto
            ca_id=path2
            action=delete
        [/micro_ai]

        [micro_ai]
            side=2
            ai_type=goto
            action=add
            ca_id=path3

            [filter]
                id=Father
            [/filter]
            [filter_location]
                x,y=9,3
                radius=1
            [/filter_location]
            ca_score=600000
            ignore_enemy_at_goal=yes
        [/micro_ai]
    [/event]

    [event]
    name=moveto
    first_time_only=yes

        [filter]
            id=Father
            [filter_location]
                x,y=9,4
                radius=1
            [/filter_location]
        [/filter]

        {REPLACE_SCENARIO_MUSIC elf-land.ogg}

        [message]
            speaker=Father
            message=_ "There is the exit. Zuug did not realize breaking through the cave walls would be so hard. The stones say Zuug's time is running out. The stones are calling Zuug."
        [/message]
        [message]
            speaker=Son
            message=_ "What are father saying? Father so big and strong. Father just need to rest."
        [/message]
        [message]
            speaker=Father
            message=_ "Listen. Grump gonna lead the tribe. Finish what father started. Find the trolls a new home. Be solid as a rock. Beware of cunning elves and ugly dwarves. Do not forget the legend father told. Pass it on to the young trolls. Learn to listen to the stones. Never go back."
        [/message]
        [message]
            speaker=Son
            message=_ "Father, no, do not leave trolls..."
        [/message]

        {MODIFY_TERRAIN Mdd $unit.x $unit.y}

        [kill]
            id=Father
            animate=yes
        [/kill]

        [redraw][/redraw]

        [delay]
            time=500
        [/delay]

        [message]
            speaker=Son
            message=_ "Grump can not believe it. Not so long ago, father seemed so strong and healthy... Grump will do what father told. What these stones say... Grump guess they say the trolls should head north. Follow Grump."
        [/message]

        [endlevel]
            result=victory
        [/endlevel]

        {CLEAR_VARIABLE dead_chuchelka}
    [/event]
    [event]
    name=die
    first_time_only=no

        [filter]
            side=3
        [/filter]

        {VARIABLE_OP dead_chuchelka add 1}
    [/event]
    [event]
    name=new_turn
    first_time_only=no

        [if]
            [variable]
                name=dead_chuchelka
                greater_than_equal_to=3
            [/variable]
        [then]

            {SCATTER_UNITS {ON_DIFFICULTY4 3 4 5 6} {ON_DIFFICULTY4 "Giant Rat,Giant Ant" "Giant Rat,Giant Ant,Fire Ant" "Giant Rat,Giant Ant,Fire Ant,Giant Scorpling" "Giant Rat,Giant Ant,Fire Ant,Giant Scorpion,Giant Scorpling"} 0 (
            area=chuchelka
            [and]
                [not]
                    [filter]
                    [/filter]
                [/not]
                [not]
                    [filter_adjacent_location]
                        [filter]
                        [/filter]
                    [/filter_adjacent_location]
                [/not]
            [/and]
        ) (
            side=3
            passable=yes
            animate=yes
        )}
            {VARIABLE_OP dead_chuchelka sub 3}
        [/then]
        [/if]
    [/event]
    [event]
    name=last_breath

        [filter]
            id=Father
        [/filter]
        [filter_second]
            side=3
        [/filter_second]

        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
    name=last_breath

        [filter]
            id=Son
        [/filter]
        [filter_second]
            side=3
        [/filter_second]

        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
    name=post_advance
    first_time_only=yes

        [filter]
            id=Son
        [/filter]

        [message]
            speaker=Father
            message=_ "Grump is fighting good. sees that he has raised a worthy troll. With Grump the Rolling Stones will be fine."
        [/message]

        {TRANSFORM_UNIT id=Son "Troll Hero"}
        {FULL_HEAL id=Son}
        {VARIABLE grump_portrait "portraits/trolls/troll-hero.png"}
        {VARIABLE grump_hero set 1}
    [/event]
    {LOS_UPGRADES}
    {LOS_HERODEATHS}
[/scenario]
