#textdomain wesnoth-LoS

[scenario]
    id=los_s9
    name= _ "The Massacre"
    map_data="{~add-ons/Lifetime_of_Stones/maps/los_m9.map}"
    turns=30
    next_scenario=los_s10
    victory_when_enemies_defeated=yes
    carryover_percentage=40
    carryover_add=no

    {UNDERGROUND}

    {SCENARIO_MUSIC battle.ogg}
    {EXTRA_SCENARIO_MUSIC frantic.ogg}
    {EXTRA_SCENARIO_MUSIC battle-epic.ogg}

    [story]
        [part]
            {GRUMP_STORY "Even though more trolls died on this trek than ever before, Grump was happy. The trolls had saved the Sultan by returning an old debt to him. And the souls of the dead brothers now went not to stone, but to paradise, where they are happy."}
        [/part]
        [part]
            {GRUMP_STORY "Upon returning to the palace, the Sultan threw an unprecedented feast for the trolls. A huge table stretched across the whole city. All the people praised the trolls. All the people sang songs and danced in honor of the trolls. The trolls were happy."}
        [/part]
        [part]
            {GRUMP_STORY "After the feast, the trolls returned to their families. The Sultan gave the trolls' wives beautiful new clothes. But that's not the main thing. The main thing is that Grump had a son!"}
        [/part]
        [part]
            {GRUMP_STORY "Grump is a father now. Grump named his son Abdul after Sultan. Abdul is a little puny for a troll, but that's okay. Grump will raise him to be a strong warrior, just as Zuug once raised Grump."}
        [/part]
        [part]
            {GRUMP_STORY "Upon learning of the birth of his son, the Sultan threw another party among the palace servants. The Sultan promised to help Grump provide everything he needed for his son. Truly, the Sultan is the kindest of men."}
        [/part]
        [part]
            story=_ "Day after day, Grump and his trolls basked in the light of glory. Perhaps it was too bright, for as soon as the feasts were over, the Sultan's old guard revolted."
        [/part]
    [/story]

    [time_area]
        {INDOORS}
        current_time=0
        id=light
        x=6,7,8,9,10
        y=2,2-3,2,2-3,2
        radius=1
    [/time_area]

    [side]
        side=1
        controller=human
        gold=0
        income=0
        fog=no
        shroud=no
        share_vision=all
        {GRUMP_STATS}
        color=lightred
        team_name=trolls
        user_team_name= _ "Trolls"
        {FLAG_VARIANT ragged}

        [unit]
            type=Troll Whelp
            id=Grumps_Son
            name=_ "Little Abdul"
            race=dunefolk
            alignment=liminal
            x,y=2,8
            [modifications]
                {TRAIT_STRONG}
                {TRAIT_QUICK}
                {TRAIT_LOYAL_HERO}
            [/modifications]
        [/unit]
    [/side]
    [side]
        side=2
        controller=ai
        fog=no
        shroud=no
        share_vision=all
        no_leader=yes
        team_name=trolls
        user_team_name= _ "Wifes"
        hidden=no
        color=red
        {FLAG_VARIANT long}
    [/side]
    [side]
        side=3
        controller=ai
        fog=no
        shroud=no
        share_vision=all
        no_leader=yes
        team_name=rebels
        user_team_name= _ "Rebels"
        hidden=no
        color=gold
    [/side]

    [event]
    name=prestart

        [set_variable]
            name=dead_wifes
            value=0
        [/set_variable]

       {SCATTER_UNITS 5 "Dune Skirmisher" 1 (  
            x=2-14
            y=2-9
            [and]
                [not]
                    [filter]
                    [/filter]
                [/not]
                [not]
                    [filter_adjacent_location]
                        [filter]
                        [/filter]
                    [/filter_adjacent_location]
                [/not]
            [/and]
        ) (
            side=2
            passable=yes
            [modifications]
                {TRAIT_LOYAL}
            [/modifications]
        )}    

        [micro_ai]
            side=2
            ai_type=coward
            action=add

            [filter]
                type=Dune Skirmisher
            [/filter]
            [filter_second]
                side=3
            [/filter_second]
            distance=7
            seek_x,seek_y=2,6
            avoid_x,avoid_y=13,3
        [/micro_ai]

        {SCATTER_IMAGE (
            x=1-15
            y=1-10
            terrain=lor^*,Rd,lor
        ) 3 items/ornate1.png}

        {SCATTER_IMAGE (
            x=1-15
            y=1-10
            terrain=lor^*,Rd,lor
        ) 5 items/ornate2.png}
    [/event]  
    
    [event] 
    name=start

        [unit]
            side=3
            type=Dune Swordsman
            x,y=8,1
        [/unit]

        {MOVE_UNIT x,y=8,1 7 4}

        [message]
            x,y=7,4
            message=_ "That's where those monsters are hiding! Come here!"
        [/message]
        
        [unit]
            side=3
            type=Dune Swordsman
            x,y=8,1
        [/unit]

        {MOVE_UNIT x,y=8,1 10 4}

        [unit]
            side=3
            type=Dune Swordsman
            x,y=8,1
        [/unit]

        {MOVE_UNIT x,y=8,1 12 5}

        [unit]
            side=3
            type=Dune Blademaster
            id=Enemy 
            canrecruit=yes
            x,y=8,1
        [/unit]

        {MOVE_UNIT x,y=8,1 13 3}

        [message]
            speaker=Son
            message=_ "Why did you break into a troll house with a weapon?! What's going on?!"
        [/message]
        [message]
            speaker=Enemy
            message=_ "Did you think you could insult us forever with your presence, you stupid monster? No way! We will cleanse the palace of the mad Sultan and his insolent beasts."
        [/message]

        [terrain]
            terrain=Ce
            x,y=13,3
            radius=1
        [/terrain]
        [terrain]
            terrain=Ke
            x,y=13,3
        [/terrain]

        [redraw] [/redraw]

        [modify_side]
                side=3
                recruit=Dune Soldier,Dune Swordsman
                gold=500
                income=50
                [ai]
                aggression=1
                    [leader_goal]
                        id=0
                        x,y=13,3
                        auto_remove=no
                        max_risk=1
                    [/leader_goal]
                [/ai]
        [/modify_side]

        [message]
            speaker=Son
            message=_ "Threatening trolls and Sultan? The trolls will crush you, infidel!"
        [/message]

         [objectives]
            side=1
            [objective]
                description= _ "Defeat the Enemy Leader"
                condition=win
            [/objective]
            [objective]
                description= _ "Death of Grump"
                condition=lose
            [/objective]
            [objective]
                description= _ "Death of Little Abdul"
                condition=lose
            [/objective]
            [objective]
                description= _ "Death of 3 wives ($dead_wifes|/3)"
                condition=lose
            [/objective]
            {TURNS_RUN_OUT}
        [/objectives]
    [/event]
    [event]
    name=victory

        [message]
            speaker=Son
            message=_ "The scoundrel threatened the Sultan. The trolls must flee to his palace soon!"
        [/message]
    [/event]
    [event]
    name=die
    first_time_only=no

        [filter]
            side=2
        [/filter]

        {VARIABLE_OP dead_wifes add 1}

        [if]
            [variable]
                name=dead_wifes
                numerical_equals=3
            [/variable]
        [then]
            [message]
                speaker=Son
                message=_ "The villains slaughtered the trolls' wives! Now the trolls will be miserable!"
            [/message]
            [endlevel]
                result=defeat
            [/endlevel]
        [/then]
        [/if]
    [/event]
    [event]
    name=attacker_hits
    first_time_only=yes

        [filter]
            side=3
        [/filter]
        [filter_second]
            side=2
        [/filter_second]

        [message]
            speaker=second_unit
            message=_ "Ow, those jackals hurt me!"
        [/message]
        [message]
            speaker=Son
            message=_ "Only Shaitan in the flesh can offend troll wives! STRIP THE SHAITAN!"
        [/message]
    [/event]
    [event]
    name=attack
    first_time_only=yes

        [filter]
            side=3
        [/filter]
        [filter_second]
            side=2
        [/filter_second]

        [message]
            speaker=unit
            message=_ "I will rid our nation of your shame, you troll bedfellow!"
        [/message]
    [/event]
    {LOS_HERODEATHS}
    {LOS_MOVEMENT}
    {LOS_UPGRADES}
[/scenario]
