#textdomain wesnoth-LoS

[scenario]
    id=los_s6
    name= _ "los 6"
    map_data="{~add-ons/Lifetime_of_Stones/maps/los_m5.map}"
    turns=-1
    next_scenario=los_s7
    victory_when_enemies_defeated=yes
    carryover_percentage=40
    carryover_add=no

    {DEFAULT_SCHEDULE}

    {INTRO_AND_SCENARIO_MUSIC "transience.ogg" "frantic.ogg"}
    {EXTRA_SCENARIO_MUSIC "the_deep_path.ogg"}
    {EXTRA_SCENARIO_MUSIC "battle.ogg"}
    {EXTRA_SCENARIO_MUSIC "siege_of_laurelmor.ogg"}

    [story]
        [part]
            story= _ "История"
        [/part]
    [/story]

    [side]
        side=1
        controller=human
        gold=200
        income=0
        fog=no
        shroud=no
        share_vision=all
        {GRUMP_STATS}
        recruit=Troll Whelp
        color=lightred
        team_name=sultan
        user_team_name= _ "Sultan"
        {FLAG_VARIANT long}
    [/side]

    {STARTING_VILLAGES 2 8}

    [side]
        side=2
        controller=ai
        gold=500
        income=30
        fog=no
        shroud=no
        share_vision=all
        {SULTAN_STATS}
        recruit=Dune Rider,Dune Horse Archer,Dune Sunderer,Dune Raider
        team_name=sultan
        user_team_name= _ "Sultan"
        hidden=yes
        color=red
        {FLAG_VARIANT long}

        [ai]
            [goal]
            id=penis1
                [criteria]
                    side=3
                [/criteria]
                value=10
            [/goal]
        [/ai]
    [/side]

    {STARTING_VILLAGES 3 8}

    [side]
        side=3
        controller=ai
        gold=400
        income=30
        fog=no
        shroud=no
        share_vision=all
        type=Dune Warmaster
        id=Sultan_Enemy
        name=_ "Wazir"
        canrecruit=yes
        recruit=Dune Rover,Dune Soldier,Dune Swordsman,Dune Rider,Dune Burner
        team_name=wazir
        user_team_name= _ "Wazir"
        hidden=no
        color=orange

        [unit]
            type=Dune Swordsman
            x,y=31,7
            ai_special=guardian
            random_traits=yes
            [modifications]
                {TRAIT_LOYAL}
            [/modifications]
        [/unit]
        [unit]
            type=Dune Swordsman
            x,y=35,7
            ai_special=guardian
            random_traits=yes
            [modifications]
                {TRAIT_LOYAL}
            [/modifications]
        [/unit]
    [/side]

    {STARTING_VILLAGES 4 10}

    [side]
        side=4
        controller=ai
        gold=500
        fog=no
        shroud=yes
        share_vision=all
        type=Orcish Nightblade
        id=Orc_Enemy
        name=_ "Merc"
        canrecruit=yes
        recruit=Orcish Assassin,Orcish Slayer,Orcish Grunt,Wolf Rider
        team_name=wazir
        user_team_name= _ "Wazir"
        hidden=no
        color=black
        {FLAG_VARIANT ragged}

        [ai]
        recruitment_pattern=Orcish Assassin,Orcish Assassin,Orcish Assassin,,Orcish Slayer,Orcish Grunt,Wolf Rider
        leader_value=6

            [goal]
            id=penis2
                [criteria]
                    side=2
                [/criteria]
                value=10
            [/goal]
        [/ai]

        [unit]
            type=Dune Alchemist
            x,y=6,14
            ai_special=guardian
            random_traits=yes
            [modifications]
                {TRAIT_LOYAL}
            [/modifications]
        [/unit]
    [/side]
    
    [event]
    name=last_breath

        [filter]
            id=Sultan_Enemy
        [/filter]

        [message]
            speaker=Sultan
            message=_ "Penis 1 done"
        [/message]

        [modify_ai]
            side=1
            action=delete
            path=goal[penis1]
        [/modify_ai]
        [modify_ai]
            side=2
            action=add
            path=goal[]
            [goal]
                id=penis3
                [criteria]
                    side=4
                [/criteria]
                value=10
            [/goal]
        [/modify_ai]
    [/event]

    {LOS_MOVEMENT}
    {LOS_UPGRADES}
[/scenario]
